{{#if success_msg}}
    <div class="alert alert-success">{{ msg }}</div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger">{{ msg }}</div>
{{/if}}

{{#if errors_validation }}
    {{#each errors_validation}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}